.searchForm {
	padding: 35px 16px;
	display: flex;
	align-items: center;
}

.searchInput {
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	padding: 12px 16px;
	border-radius: 6px;
	background: #ffffff;
	border: none;
	box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
	border-radius: 6px;
	flex-grow: 1;
	margin-right: 16px;
	outline: none;
}

.flexCenter {
	display: flex;
	justify-content: center;
}

.chuckNorrisCaption {
	font-family: "Open Sans", sans-serif;
	font-style: italic;
	font-weight: 600;
	font-size: 16px;
	line-height: 22px;
	text-align: center;
	color: #000000;
  margin: 24px 16px;
	overflow-wrap: break-word;
}

.searchByCategory {
	display: flex;
	align-items: center;
	padding: 16px;
}

.selectCategory {
	flex-grow: 1;
	padding-right: 16px;
}

.selectCategory input, .selectCategory datalist option {
	width: 100%;
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	padding: 12px 16px;
	border-radius: 6px;
	background: #ffffff;
	border: none;
	box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
	border-radius: 6px;
	outline: none;
}
